---
import { getCollection } from "astro:content";

const name:string = Astro.url.searchParams.get('name') || '';
let collection = await getCollection(name || "");

---
{
	collection.map((item) => (
		<article>
			<h2>{item.id}</h2>
			<p>{item.data.content}</p>
		</article>
	))
}