---
import { defineCollection } from "astro:content";
import { addCollection } from "../content/config";
import { glob } from "astro/loaders";
import { z } from "astro:content";
import { fileLoader } from "../fileLoader";

if (Astro.request.method === 'POST') {
	// Parse form data
	const formData = await Astro.request.formData();
	const name = formData.get('name') as string;
	const location = formData.get('location') as string;

	addCollection(name, defineCollection({
		loader: fileLoader({filepath: location, pattern: '**/*.md'}),
		schema: z.object({
			title: z.string(),
		})
	}))
}
---

<form
	method="POST"
	style="display: grid"
>
	<label for="name">Name</label>
	<input
		id="name"
		name="name"
	/>

	<label for="location">Location</label>
	<input
		id="location"
		name="location"
	></input>

	<button type="submit">Submit</button>
</form>
